<div *ngIf="!isLoggedIn">
  <app-login (loginSuccess)="onLoginSuccess($event)"></app-login>
</div>

<div *ngIf="isLoggedIn">
  <div class="flex flex-col h-screen">
    <!-- Navbar -->
    <app-navbar 
      [userName]="userName"
      (logout)="onLogout()"
      (toggleSidebar)="toggleSidebar()"
      (ejercicioSeleccionado)="onEjercicioSeleccionado($event)" 
      class="bg-blue-500 text-white flex items-center">
    </app-navbar>
  

    <div class="flex flex-1">
      <!-- Sidebar -->
      <app-sidebar *ngIf="isSidebarVisible" 
                   [title]="sidebarTitle" 
                   [description]="sidebarDescription"
                   [loading]="sidebarLoading" 
                   class="bg-black w-1/4"></app-sidebar>

      <!-- Content -->
      <div [ngClass]="{'w-full': !isSidebarVisible, 'w-3/4': isSidebarVisible}" class="bg-gray-800 transition-all">
        <app-breadcrumb></app-breadcrumb>
        <router-outlet (activate)="onRouteChange($event) "></router-outlet>
        
      </div>
      
    </div>
 <!-- Footer -->
 <app-footer class="bg-blue-500 text-white text-center"></app-footer>
   
  </div>
</div>
