<div class=" bg-blue-600 text-white text-center flex flex-col md:flex-row justify-around items-center">
    <!-- Contenido del pie de página -->
    <div class="mb-2 md:mb-0">
      © 2025 Mi Aplicación
    </div>
    <div class="mb-2 md:mb-0">
      Fecha de creación: 24 de febrero de 2025
    </div>
    <div class="mb-2 md:mb-0">
      Nombre: Marcos Jesus Rios Duran
    </div>
    <div class="mb-2 md:mb-0">
      Matrícula: 230733
    </div>
    <div>
      Práctica de Angular
    </div>
  </div>
  