h2 {
  color: #007bff;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}
.gradient-border {
  position: relative;
  padding: 3px;
  border-radius: 8px;
  isolation: isolate;
  overflow: hidden;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: -1;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  background-size: 300% 100%;
  border-radius: inherit;
  animation: gradient-move 3s linear infinite;
  transition: transform 0.5s ease-out;
}

.gradient-border:hover::before {
  transform: rotate(10deg);
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
