<!-- Práctica 12: Routing Overview -->
<div class="flex flex-col items-center justify-center mt-10 p-6 bg-gray-800 rounded-lg shadow-lg gradient-border" >
    <h3 class="text-5xl font-bold text-black mb-6">Implementación de la Práctica 12</h3>
    <nav>
      <a href="/" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64px" height="64px">
            <path d="M32 12l-20 20h6v20h8v-12h8v12h8v-20h6z" fill="#ffff"/>
          </svg>
          Home</a>
      |
      <a href="/user" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64px" height="64px">
            <circle cx="32" cy="20" r="12" fill="#ffff"/>
            <path d="M44 40c0 0-8-4-12-4s-12 4-12 4-4 0-4 4v6h32v-6c0-4-4-4-4-4z" fill="#ffff"/>
          </svg>
          User</a>
    </nav>
  </div> 