<div class="flex-[0.88] p-4 bg-yellow-100 shadow rounded h-full overflow-auto">
  <!-- Título -->
  <h1 class="text-4xl font-bold text-center mb-4">Películas Favoritas</h1>
  
  <!-- Controles: Buscador y Selector de Cantidad -->
  <div class="mb-4 flex justify-between">
    <!-- Buscador -->
    <input id="searchInput" type="text" class="px-4 py-2 border rounded shadow w-1/3" placeholder="Buscar..." (input)="filterTable($event)">
    
    <!-- Selector de Cantidad -->
    <select class="px-4 py-2 border rounded shadow" (change)="changePageSize($event)">
      <option value="5">Mostrar 5</option>
      <option value="10">Mostrar 10</option>
      <option value="20">Mostrar 20</option>
      <option value="27">Mostrar Todos</option>
    </select>
  </div>
  
  <!-- Tabla -->
  <table id="favoritesTable" class="table-auto w-full text-left">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-4 py-2 cursor-pointer" (click)="sortTable('id')">ID</th>
        <th class="px-4 py-2 cursor-pointer" (click)="sortTable('nombre')">Nombre</th>
        <th class="px-4 py-2 cursor-pointer" (click)="sortTable('apellido')">Apellido</th>
        <th class="px-4 py-2 cursor-pointer" (click)="sortTable('serie')">Serie Favorita</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginatedData">
        <td class="border px-4 py-2">{{ item.id }}</td>
        <td class="border px-4 py-2">{{ item.nombre }}</td>
        <td class="border px-4 py-2">{{ item.apellido }}</td>
        <td class="border px-4 py-2">{{ item.serie }}</td>
      </tr>
    </tbody>
  </table>
</div>