/* Define el contorno animado de colores */
.gradient-border {
    position: relative;
    padding: 0px;
    border-radius: 0.5rem;
    isolation: isolate;
    overflow: hidden;
    background-clip: padding-box;
    height:96%
  }
  
  .gradient-border::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: -1;
    background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    background-size: 300% 100%;
    border-radius: inherit;
    animation: gradient-move 3s linear infinite;
    transition: transform 0.5s ease-out;
  }
  
  .gradient-border:hover::before {
    transform: rotate(10deg);
  }
  
  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Estilo para el contenedor interno con scroll */
  .scroll-container {
    max-height: 68vh; /* Altura máxima del 60% del viewport */
    overflow-y: auto; /* Habilita el scroll vertical */
    padding: 1rem; /* Espaciado interno */
    border: 2px solid transparent; /* Borde transparente para evitar saltos */
  }
  
  /* Asegura que el contenedor principal no haga scroll */
  .flex-\[0\.88\] {
    overflow: hidden; /* Evita el scroll en el contenedor principal */
  }
  #c{
    background-color: #14141414;
  }