<div class="flex flex-col items-center justify-center bg-black" id="cont" >
  <h1 class="text-4xl font-bold text-white mb-6">Seleccione un Ejercicio</h1>
  <!-- Contenedor principal para la tarjeta y botones -->

  <div class="flex justify-between items-center w-full max-w-4xl ">
    
    <!-- Botones Izquierda -->
    <div class="flex flex-col space-y-4">
      <a href="/page1">
        <button class="btn-ejercicio">Ejercicio 1</button>
      </a>
      <a href="/page2">
        <button class="btn-ejercicio">Ejercicio 2</button>
      </a>
      <a href="/page3">
        <button class="btn-ejercicio">Ejercicio 3</button>
      </a>
      <a href="/page4">
        <button class="btn-ejercicio">Ejercicio 4</button>
      </a>
      <a href="/page5">
        <button class="btn-ejercicio">Ejercicio 5</button>
      </a>
      <a href="/page6">
        <button class="btn-ejercicio">Ejercicio 6</button>
      </a>
    </div>

    <!-- Card en el centro -->
    <div class="card">
      <span></span>
      <div class="content">Manual de Practicas con Angular</div>
    </div>

    <!-- Botones Derecha -->
    <div class="flex flex-col space-y-4">
      <a href="/page7">
        <button class="btn-ejercicio">Ejercicio 7</button>
      </a>
      <a href="/page8">
        <button class="btn-ejercicio">Ejercicio 8</button>
      </a>
      <a href="/page9">
        <button class="btn-ejercicio">Ejercicio 9</button>
      </a>
      <a href="/page10">
        <button class="btn-ejercicio">Ejercicio 10</button>
      </a>
      <a href="/page11">
        <button class="btn-ejercicio">Ejercicio 11</button>
      </a>
      <a href="/page12">
        <button class="btn-ejercicio">Ejercicio 12</button>
      </a>
    </div>
    
  </div>
</div>
